header#header
    img(src=images.header.url width=images.header.width height=images.header.height class=images.header.className)
    h1
        span= firstname
        |  
        span= lastname
    h2= role
